name: Release

on:
  push:
    branches:
      - master
  release:
    types: [published]

jobs:
  release:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm --filter wawa-smart-erp build

      - name: Package
        run: pnpm --filter wawa-smart-erp dist

      - name: Release
        uses: ncipollo/release-action@v1
        if: github.event_name == 'release' || (github.event_name == 'push' && github.ref == 'refs/heads/master')
        with:
          artifacts: apps/desktop/release/*.exe
          tag: ${{ github.event.release.tag_name || 'latest' }}
          name: ${{ github.event.release.name || 'Latest Release (master)' }}
          allowUpdates: true
          removeArtifacts: true
          replacesArtifacts: true
          token: ${{ secrets.GITHUB_TOKEN }}
